---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/sections/Navbar';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-black text-gray-900 dark:text-white transition-colors duration-300">
		<Navbar client:load/>
		<slot/>
		<Footer />
	</body>
</html>
